html, body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}
h1, h2, h3 {
  font-family: "Times New Roman", Times, serif;
}
td {
  background-image: url("slot.png");
  height: 18px;
  width: 16px;
}
table {
  border-collapse: collapse;
}
